<h1>Create a new list</h1>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%# <%= f.input :image_url, as: :string, placeholder: "Enter image URL" %>
  <%= f.submit class: "btn btn-primary rounded mt-2"%>
<% end %>
