<h1>Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, prompt: "Select Films" %>
  <%= f.submit class: "btn btn-primary rounded mt-2"%>
<% end %>
